.value {
  width: 45%;
  padding: 64px 0 0 0;
  @media (max-width: 1350px) {
    width: 85vw;
    margin: 0 15vw 0 0;
  }
  &__number {
    font-size: 18px;
    padding: 0 0 8px 0;
    color: #1a1a1a;
    @media (max-width: 800px) {
      font-size: 15px;
    }
  }
  &__header {
    color: #000000;
    font-size: 35px;
    padding: 0 0 8px 0;
    @media (max-width: 1350px) {
      font-size: 30px;
    }
    @media (max-width: 800px) {
      font-size: 28px;
    }
  }
  &__explanation {
    font-size: 18px;
    color: #1a1a1a;
    @media (max-width: 800px) {
      font-size: 15px;
    }
  }
}
